* {
    box-sizing: border-box;
}
.buttonWrapper {
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(241, 237, 237);
}
.num {
    width: 25%;
}
.screen {
    width: 100%;
    margin-bottom: 0.25rem;
    text-align: end;
    border: none;
    border-radius: 0.5rem;

    color: gray;
    padding: 0.5rem;
    font-size: larger;
}


